@import "tailwindcss";
@import './layout.css';
@import './sidebar.css';
@import './products.css';
@import './navbar.css';
@import './reusable.css';
@import './product-page.css';

.body {
  background-color: white;
  color: black;
}
