.page-container {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  align-items: flex-start;
}

.menu-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.header-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2%;
  margin-right: 2%;
}

@media (min-width: 58rem) {
  .logo-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hamburger-wrapper {
  display: none;
}

.nav-buttons-wrapper {
  display: block;
  margin-left: auto;
}

.main-logo {
  font-size: 2rem;
  white-space: nowrap;
}

@media (max-width: 44rem) {
  .main-logo {
    font-size: 5vw;
    white-space: normal;
  }
}

@media (max-width: 24rem) {
  .hamburger-wrapper {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
  }

  .nav-buttons-wrapper {
    display: none;
  }
}

.nav-container {
  display: flex;
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}