.minicart {
  min-width: 12rem;
  min-height: 6rem;
  position: absolute;
  right: 2rem;
  top: 3rem;
  background-color: white;
  box-shadow: 0px 0px 4px 1px #a0a0a0;
  padding: 1rem;
  z-index: 50;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 0.3s ease 0.5s,
    visibility 0s linear 0.5s;
}

@media (hover: hover) and (pointer: fine) {
  .cart__button:hover + .minicart,
  .minicart:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition-delay: 0s;
  }
}

.minicart__product-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.minicart__product-list-container {
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.cart__button {
  position: relative;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.cart__product-counter {
  position: absolute;
  top: -0.4rem;
  right: 1rem;
  background-color: #b6a087;
  color: white;
  min-width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  pointer-events: none;

  animation: pop 0.3s ease forwards;
}