.cart-button {
  position: relative;
}

.minicart {
  min-width: 12rem;
  min-height: 6rem;
  display: none;
  position: absolute;
  right: 1rem;
  top: 3rem;
  background-color: white;
  box-shadow: 0px 0px 4px 1px #a0a0a0;
  padding: 1rem;
  z-index: 50;
}

.cart-button:hover + .minicart {
  display: block;
}

.minicart:hover {
  display: block;
}

.minicart__product-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
