.product-overview__container {
  display: flex;
  width: 100%;
}

.product-detail__image-container {
  flex: 0 0 60%;
  padding-right: 2rem;
}

.product-overview__info-container {
  flex: 0 0 40%;
}

.product-overview__image-wrapper {
  position: relative;
  /* border: 1px solid red; */
  aspect-ratio: 1/1;
}

@media (max-width: 60rem) {
  .product-overview__container {
    flex-direction: column;
  }

  .product-detail__image-container {
    width: 100%;
    padding-right: 0;
  }
}

.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.pill {
  display: flex;
  flex-wrap: nowrap;
  background-color: #c7b198;
  color: white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.2rem;
}

.description {
  white-space: pre-line;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  width: 100%;
}

.carousel-slide {
  min-width: 100%;
  flex-shrink: 0;
}

.arrow-icon svg g {
  fill: white;
}

.arrow-icon svg {
  width: 2rem;
  height: 2rem;
}

.arrow-icon:hover svg g {
  fill: #766656;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow-icon.right {
  right: 1rem;
  transform: translateY(-50%);
}

.arrow-icon.left {
  left: 1rem;
  transform: translateY(-50%) rotate(180deg);
}