.product-overview-container {
  display: flex;
  width: 100%;
}

.product-detail-image-container {
  position: relative;
  /* display: flex;
  gap: 1rem; */
  /* flex-direction: row; */
  width: 60%;
}

.image-wrapper {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: 1px solid red;
  width: 100%;

  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
}

.image-wrapper.active {
  opacity: 1;
  position: relative;
}

.product-overview-info-container {
  /* flex: 0 0 30rem; */
  margin-left: 1rem;
  width: 40%
}

@media (max-width: 60rem) {
  .product-overview-container {
    flex-direction: column;
  }

  .product-detail-image-container {
    width: 100%
  }
}

@media (max-width: 80rem) {
  .product-detail-image-container {
    flex-direction: column;
  }

  .image-wrapper {
    width: 100%;
  }
}

.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.pill {
  display: flex;
  flex-wrap: nowrap;
  background-color: #c7b198;
  color: white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.2rem;
}

.description {
  white-space: pre-line;
}

.arrow-icon svg g {
  fill: black;
}

.arrow-icon:hover svg g {
  fill: black;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow-icon.right {
  right: 2rem;
  transform: translateY(-50%);
}

.arrow-icon.left {
  left: 1rem;
  transform: translateY(-50%) rotate(180deg);
}