.product-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.product-image {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.product-image-wrapper {
  position: relative;
}

.second-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.product-image-wrapper:hover .main-image {
  opacity: 0;
}

.product-image-wrapper:hover .second-image {
  opacity: 1;
}

.product-overview-container {
  display: flex;
  width: 100%;
}

.product-detail-image-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.image-wrapper {
  width: 50%;
}

.image-wrapper img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.product-overview-info-container {
  flex: 0 0 30rem;
  margin-left: 1rem;
}

@media (max-width: 50rem) {
  .product-overview-container {
    flex-direction: column;
  }
}

@media (max-width: 80rem) {
  .product-detail-image-container {
    flex-direction: column;
  }

  .image-wrapper {
    width: 100%;
  }
}